<div class="p-6 flex flex-col items-start">
    <h2 class="text-xl font-bold text-gray-800 mb-3 dark:text-[var(--accent-500)]">Numac</h2>
        <div class="font-mono text-lg bg-gray-100 dark:bg-midnight dark:text-mist dark:border dark:border-navy p-3 rounded-lg shadow-inner inline-block"><%= law.numac %></div>
</div>
