<%= turbo_frame_tag "laws_list",
      data: { 
        controller: 'frame-status', 
        frame_status_loading_value: t('loading_status.loading'), 
        frame_status_completed_value: t('loading_status.completed'), 
        frame_status_duration_value: 0, 
        frame_status_mount_selector_value: '#search-status-mount', 
        frame_status_results_value: t(:results_found, count: (@pagy&.count || @laws&.size || 0)),
        turbo_action: 'advance'
      } do %>
  <!-- Hidden marker for frame-status to build persistent message with results count -->
  <span data-frame-status-results class="sr-only"><%= t(:results_found, count: (@pagy&.count || @laws&.size || 0)) %></span>
  <div class="bg-white dark:bg-midnight rounded-xl shadow-lg overflow-visible">
    <%= render partial: "laws/list", locals: { laws: @laws, pagy: @pagy } %>
  </div>
<% end %>
